<div class="container">
    <div class="row">
        <div class='col-sm-6 col-sm-offset-3'>
            <div class="list-group">
              <a href="#new" class="list-group-item">New</a>
              <a href="#confirmed" class="list-group-item">Confirmed</a>
              <a href="#Allocated" class="list-group-item">Allocated</a>
              <a href="#Completed" class="list-group-item">Completed</a>
              <a href="#All" class="list-group-item">All</a>
              <a href="#lead" class="list-group-item">Lead Data Table</a>
              <a href="/admin/agent/order/" class="list-group-item">Edit Order Details</a>
              <a href="/admin/agent/beautician/" class="list-group-item">Beauticians</a>
              <a href="/admin/agent/service/" class="list-group-item">Services</a>
            </div>
        </div>
    </div>
</div>
