<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="#orders/Received">
          <i class="fa fa-th"></i> <span>New Orders</span> <small class="label pull-right bg-green">new</small>
        </a>
      </li>
      <li>
          <a href="#orders/Confirmed">
            <i class="fa fa-th"></i> <span>Confirmed</span>
          </a>
      </li>
      <li>
          <a href="#orders/Allocated">
            <i class="fa fa-th"></i> <span>Allocated</span>
          </a>
      </li>
      <li>
          <a href="#orders/Delievered">
            <i class="fa fa-th"></i> <span>Completed</span>
          </a>
      </li>
      <li>
          <a href="#orders/all">
            <i class="fa fa-th"></i> <span>All</span>
          </a>
      </li>
      <li>
          <a href="#lead">
            <i class="fa fa-th"></i> <span>Leads</span>
          </a>
      </li>
      <li>
          <a href="/admin/agent/order/">
            <i class="fa fa-th"></i> <span>Edit Order Details</span>
          </a>
      </li>
      <li>
          <a href="/admin/agent/beautician/">
            <i class="fa fa-th"></i> <span>Beauticians</span>
          </a>
      </li>
      <li>
          <a href="/admin/agent/service/">
            <i class="fa fa-th"></i> <span>Services</span>
          </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
