<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
  <a class="navmenu-brand" href="#">Project name</a>
  <ul class="nav navmenu-nav">
      <li>
          <a href="#orders/Received" >New</a>
      </li>

      <li>
          <a href="#orders/Confirmed">Confirmed</a>
      </li>
      <li>
          <a href="#orders/Allocated">Allocated</a>
      </li>
      <li>
          <a href="#orders/Delievered" >Completed</a>
      </li>
      <li>
          <a href="#orders/all" >All</a>
      </li>
      <li>
          <a href="#lead" >Lead Data Table</a>
      </li>
      <li>
          <a href="/admin/agent/order/" >Edit Order Details</a>
      </li>
      <li>
          <a href="/admin/agent/beautician/" >Beauticians</a>
      </li>
      <li>
          <a href="/admin/agent/service/" >Services</a>
      </li>
  </ul>
</div>
