<header class="main-header">
  <!-- Logo -->
  <a href="#dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>B</b>S</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <img src="frontend/assets/images/logo.png" id='brand-logo' alt="Responsive image" class='img img-responsive'/></a>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle"  role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><%= user.get_name() %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                  <a href="#logout" class="btn btn-default btn-flat">Sign out</a>
              </li>
            </ul>
          </li>

      </ul>
    </div>
  </nav>
</header>
