<header class="main-header">
  <!-- Logo -->
  <a href="#leads/all" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>B</b>S</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <img src="frontend/assets/images/logo.png" id='brand-logo' alt="Responsive image" class='img img-responsive'/></a>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle"  role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs"><%= user.get_name() %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                  <a href="#logout" class="btn btn-default btn-flat">Sign out</a>
              </li>
            </ul>
          </li>

      </ul>
    </div>
  </nav>
</header>
<aside class="main-sidebar offcanvas">
    <section class="sidebar">
     <ul class="sidebar-menu">
       <li class="header">MAIN NAVIGATION</li>
       </li>
       <li class="treeview">
         <a role="button" data-toggle="collapse" href="#lead" aria-expanded="false" aria-controls="lead">
           <i class="fa fa-laptop"></i>
           <span>Leads</span>
           <i class="fa fa-angle-left pull-right"></i>
         </a>
         <ul class="collapse" id="lead">
           <li><a href="#leads/all" class=""><i class="fa fa-circle-o"></i> All Leads</a></li>
           <li><a href="#leads/facebook"><i class="fa fa-circle-o"></i> Lead Facebook</a></li>
           <li><a href="#leads/others"><i class="fa fa-circle-o"></i> Lead Others</a></li>
           <li><a href="/admin/agent/lead/add/"><i class="fa fa-circle-o"></i> Add Lead</a></li>
         </ul>
       </li>
       <li class="treeview">
         <a role="button" data-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="orders">
           <i class="fa fa-laptop"></i>
           <span>Orders</span>
           <i class="fa fa-angle-left pull-right"></i>
         </a>
         <ul class="collapse" id='orders'>
           <li><a href="#orders/Received"><i class="fa fa-circle-o"></i> New/Received Orders</a></li>
           <li><a href="#orders/Confirmed"><i class="fa fa-circle-o"></i> Confirmed Orders</a></li>
           <li><a href="#orders/Allocated"><i class="fa fa-circle-o"></i> Allocated Orders</a></li>
           <li><a href="#orders/Delievered"><i class="fa fa-circle-o"></i> Delievered Orders</a></li>
           <li><a href="/admin/agent/order/"><i class="fa fa-circle-o"></i> + Add new orders</a></li>
         </ul>
       </li>

       <li>
           <a href="/admin/agent/service/">
             <i class="fa fa-th"></i> <span>Manage Services</span>
           </a>
       </li>

       <li>
           <a href="/admin/agent/beautician/">
             <i class="fa fa-th"></i> <span>Manage Beautician</span>
           </a>
       </li>
       <li class="treeview">
         <a role="button" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
           <i class="fa fa-laptop"></i>
           <span>System</span>
           <i class="fa fa-angle-left pull-right"></i>
         </a>
         <ul class="collapse" id='user'>
           <li><a href="/admin/agent/user/"><i class="fa fa-circle-o"></i> Manage Users</a></li>
         </ul>
       </li>

     </ul>
    </section>
</aside>
