<br>
<div class="container">
    <div class="row">
        <div class='col-sm-4 col-sm-offset-4 well' >
            <div class="row">
                <div class='col-sm-12'>
                    <h3>Log in</h3>
                </div>
            </div>
            <ul id='error'>
            </ul>
            <div class="row">
                <div class='col-sm-12 form-group'>
                     <label for="email">Email</label>
                    <input id='email' class='form-control' required></input>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-12 form-group'>
                     <label for="password">password</label>
                    <input type='password' id='password' class='form-control' required></input>
                </div>
            </div>
             <button type="button" id='create' class="btn btn-default">Submit</button>
             <hr>
             <div class="row">
                 <div class='col-sm-12'>
                     <a href="#regi">Sign Up</a>
                 </div>
             </div>
        </div>
    </div>
</div>
