<div class="container">
    <div class="row">
        <div class='col-sm-12'>
            <table>
                <thead>
                    <tr>
                        <td>
                            Customer
                        </td>
                        <td>
                            Contact
                        </td>
                        <td>
                            Date
                        </td>
                        <td>
                            Time
                        </td>
                        <td>
                            Beautician
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            Details
                        </td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
