<div class="container">
    <div class="row">
        <div class='col-sm-4'>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input type="text" id='name' class='form-control' placeholder="Search leads by customer name" />
                <span class="input-group-btn">
                    <button id='search-name' class="search btn btn-default">Search</button>
                </span>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input type="text" class='form-control' id='contact' placeholder="Search leads by customer contact" />
                <span class="input-group-btn">
                    <button type="button" id='search-contact'class="search btn btn-default">Search</button>
                </span>
            </div>
        </div>
        <div class='col-sm-1'>
            <button type="button" id='remove-filters' class="btn btn-default">Remove filters</button>
        </div>
    </div>
    <br>    
    <div class="row">
        <div class='col-sm-12'>
            <table class='table table-hover table-bordered'>
                <thead>
                    <tr>
                        <td>
                            Customer
                        </td>
                        <td>
                            Contact
                        </td>
                        <td>
                            Date
                        </td>
                        <td>
                            Time
                        </td>
                        <td>
                            Beautician
                        </td>
                        <td>
                            Status
                        </td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
